body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

html * {
    font-family: Candara, serif;
}

p {
    font-size: 14px;
}

.logo img {
    height: 100%;
    width: 8rem;
}

#searchbar {
    border-radius: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    overflow: hidden;
    padding: 5px 10px 5px 10px;
}

#searchbar input {
    background: transparent;
    outline: none;
    border: 0;
}

#search-image {
    height: 1rem;
    width: 1rem;
}

#search-button {
    background-color: white;
    border: none;
    cursor: pointer;
}

#favorites_profile img {
    height: 1.5rem;
    width: 1.5rem;
}

#heart-image {
    padding-right: 20px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
}

#middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68vh;
}

#login-window, #registration-window {
    overflow: hidden;
    width: 20rem;
    box-shadow: lightgray 1px 2px 2px 3px;
}


#registration-window {
    display: none;
}

.main-content {
    padding: 15px 20px 30px;
}

.main-content input {
    height: 1.6rem;
    width: 100%;
    margin-bottom: 20px;
}

.sign-buttons {
    display: flex;
}

.main-content label {
    font-size: 14px;
}

#sign-in-button-login, #sign-up-button-login,
#sign-in-button-registration, #sign-up-button-registration{
    font-size: 17px;
    padding: 10px 0 10px 0;
    border: none;
    background-color: white;
    cursor: pointer;
}

#sign-in-button-login, #sign-in-button-registration {
    border-bottom: 3px solid #FA8232;
    font-weight: bold;
}

#sign-up-button-login, #sign-up-button-registration {
    border-bottom: 3px solid lightgray;
    opacity: 0.6;
}

.sign-in, .sign-up {
    flex-basis: 50%;
}

.input_box {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 1px solid lightgray;
}

#password-input-registration {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#bottom_sign_in, #bottom_sign_up, #bottom_sign_up_vendor {
    border: none;
    color: white;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #00A486;
    cursor: pointer;
}

#bottom_sign_up_vendor {
    margin-top: 20px;
    background-color: #0094AB;
}

#bottom_sign_in:hover, #bottom_sign_up:hover, #bottom_sign_up_vendor:hover {
    opacity: 0.8;
}

#footer {
    height: 25vh;
}

#header, #footer {
    background-image: linear-gradient(#40BA21, #00B158);
}

#header, #middle, #footer {
    padding-left: 100px;
    padding-right: 100px;
}

#footer-links {
    width: 150px;
    justify-content: space-between;
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid white;
}

#footer-links a {
    text-decoration: none;
}

/*#hr_in_footer {*/
/*    width: 50px;*/
/*    text-align: end;*/
/*}*/

.wide_button {
    width: 100%;
}

#footer p, #header p {
    color: white;
}


/*#header, #main-window, #footer, #middle {*/
/*    border: 2px solid black;*/
/*}*/